[Unit]
Description=Run commands when a button on GPIO%i is pressed, released, or held

[Service]
ExecStart=/usr/bin/systemd-gpio
Environment=GPIO_PIN=%i
EnvironmentFile=/etc/gpio/%i

[Install]
WantedBy=multi-user.target
